@import "../node_modules/basiclightbox/dist/basicLightbox.min.css";
.gallery {
  width: 950px;
  display: flex;
  justify-content: space-between;
  list-style: none;
  align-items: flex-end;
  flex-wrap: wrap-reverse;
}

.stats {
  display: flex;
  justify-content: space-between;
}
html {
  scroll-behavior: smooth;
}
